.App {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  background-color: rgb(160, 175, 134);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
}
.app__todoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}